{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="w3-container about_intro  w3-center">

    <h2>Our Story and What we stand for.</h2>
    <p>Hairways started in August 2018 as an idea by James Kiari and Issa Abdul later joined
      by Symons.
      the two hard a dream of bringing Salons and their clients together. Having experinced
      long ques and delays both in the Salons and Barber shops this was a great idea to solve
      that and save salons from loosing more money whenever clients waited too long.It is Also
      very Important to mention that hairways will be handy in salon management,getting to
      analyse your figures appropriately will enable you to find best ways to improve your business
      all this is in your back office.For instance you'll know which service is selling most and
      when they sell.
    </p>
  </div>
  <h3 class="w3-center">Our Team</h3>
  <p class="w3-center">We are a dedicated team from Ariyans Techies always enjoying to bring ideas into reality
    bellow are the team behind Hairways.co.ke
  </p>

  <div class="w3-card-4 w3-row w3-third w3-container   w3-mobile w3-margin" style="width:30%">
    <header class="w3-container w3-light-grey">
      <h3>James Kiari</h3>
    </header>
    <div class="w3-container">
      <img src="{% static 'css/images/ombori.jpg' %}" alt="Avatar" style="width:30%" class="w3-left w3-circle">
      <p>Co-founder at Ariyans Techies and lead developer at hairways.co.ke</p>
    </div>
    <button class="w3-btn-block w3-dark-grey">+Linkdn</button><span><button class="w3-btn-block w3-dark-grey">+Email</button>
    </span><span><button class="w3-btn-block w3-dark-grey">+Twitter</button></span><span>
      <button class="w3-btn-block w3-dark-grey">+Resume</button></span>
    </div>
    <div class="w3-card-4 w3-row w3-third w3-container   w3-mobile w3-margin" style="width:30%">
      <header class="w3-container w3-light-grey">
        <h3>Issa Abdul</h3>
      </header>
      <div class="w3-container">
        <img src="{% static 'css/images/ombori.jpg' %}" alt="Avatar" style="width:30%" class="w3-left w3-circle">
        <p>Co-founder at Ariyans Techies|lead developer at hairways.co.ke</p>
      </div>
      <button class="w3-btn-block w3-dark-grey">+ Connect</button>
    </div>
    <div class="w3-card-4 w3-row w3-third w3-container   w3-mobile w3-margin" style="width:30%">
      <header class="w3-container w3-light-grey">
        <h3>Symons Ombori</h3>
      </header>
      <div class="w3-container">
        <img src="{% static 'css/images/ombori.jpg' %}" alt="Avatar" style="width:30%" class="w3-left w3-circle">
        <p>Reaserch and Marketing Dirctor at hairways| developer at Ariyans Techies</p>
      </div>
      <button class="w3-btn-block w3-dark-grey">+ Connect</button>
    </div>

{% endblock %}
