{% extends 'base.html' %}
{% load static %}
{% load visits_tags %}
{% block nav %}
{% include "partials/index-header.html" %}
{% endblock %}
{% block content %}
<section class="block-31" style="position: relative;">
  <div class="owl-carousel loop-block-31">
    {% for salon in salons|slice:':5' %}
    <div class="block-30 item" style="background-image: url({% static 'images/'%}{{ forloop.counter }}.jpg);"
      data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="subheading-sm">Welcome to</span>
            <h2 class="heading">{{ salon.name }}</h2>
            <p>
              <a href="{% url 'salon_details' name=salon.slug %}" class="btn py-4 px-5 btn-in-slider"> Visit Salon</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<section class="sticky-top">
  <div class="container-fluid card mb-3" style="background-color:white">
    <div class="row align-items-center pt-3 justify-content-center">
      <div class="col-3 col-sm-2">
        <div class="filters">
          <h5><i class="ti-bolt text-teal"></i>
            <span class="d-none d-sm-inline"> Popular</span>
          </h5>
        </div>
      </div>
      <div class="col-3 col-sm-2">
        <div class="filters">
          <h5><i class="ti-location-pin text-teal"></i>
            <span class="d-none d-sm-inline"> Near me</span>
          </h5>
        </div>
      </div>
      <div class="col-3 col-sm-2">
        <div class="filters">
          <h5><i class="ti-thumb-up text-teal"></i><span class="d-none d-sm-inline"> Recommended</span></h4>
          </h5>
        </div>
      </div>
      <div class="col-3 col-sm-2">
        <div class="filters">
          <h5><i class="ti-gift text-teal"></i>
            <span class="d-none d-sm-inline">Offers</span>
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-3">
        <input class="search-input form-control float-right col-sm-12 mb-3" placeholder="search by name">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <!-- SALONS CONTAINER -->
    <div class="row">
      <div class="card-deck">
        {% for salon in salons %}
        {% get_visits salon.slug as visits %}
        <div class="col-sm-12 col-md-6 col-lg-4 card-min-height">
          <div class="card salon-card mb-4 m-0">
            <img class="card-img-top img-fluid" {% if salon.card_img %} src="{{salon.card_img}}" {% else %}
              src="{% static 'images/salon.jpg'%}" {% endif %} alt="Card image cap">

            <div class="card-body card-min-height">
              <h4 class="card-title">
                {{ salon.name | truncatewords:3 }}
              </h4>
              <ul class="list-unstyled list-inline rating mb-0">
                {% for star in '12345' %}
                {% if forloop.counter <= salon.rating %}
                <li class="list-inline-item mr-0"><i class="metismenu-icon ti-star text-warning"></i></li>
                {% else %}
                <li class="list-inline-item mr-0"><i class="metismenu-icon ti-star text-dark"></i></li>
                {% endif %}
                {% endfor %}
                <li class="list-inline-item">
                  <p class="text-muted mb-2">
                    {{ salon.rating }}
                    ({{ salon.approved_reviews.count }})
                  </p>
                </li>
              </ul>
              <div class="mb-3">
                <li data-toggle="tooltip" data-placement="top" title="Likes" class="list-inline-item mr-0">
                  <i class="metismenu-icon ti-thumb-up text-success"></i>
                  {{ salon.rating }}
                </li>
                <li data-toggle="tooltip" data-placement="top" title="Views" class="list-inline-item mr-0">
                  <i class="metismenu-icon ml-2 ti-eye text-success"></i>
                  {% if visits %}{{ visits }}{% else %}0{% endif %}
                </li>
                <li data-toggle="tooltip" data-placement="top" title="{{salon.town}}" class="list-inline-item mr-0">
                  <i class="metismenu-icon ml-2 ti-location-pin text-success"></i>
                  {{ salon.town | truncatewords:2 }}
                </li>
              </div>
              <p data-toggle="tooltip" data-placement="top" title="{{salon.description}}" class="card-text">
                {{ salon.description|truncatewords:10 }}
              </p>
              <p class="card-text text-center"><small class="text-muted"><a type="button"
                    href="{% url 'salon_details' name=salon.slug %}"
                    class="btn w-75 btn-outline-success btn-rounded text-center">Visit Salon</a></small></p>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="col-sm-12 text-center">Salons will appear here</p>
        {% endfor %}
      </div>
    </div>
    {% if salons.has_other_pages %}
    <div class="row">
      <div class="col-sm-12">
        <ul class="pagination justify-content-center">
          {% if salons.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ salons.previous_page_number }}">
              <i class="ti-arrow-left"></i>Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="3" tabindex="-1">
              <i class="ti-arrow-left"></i>Previous</a>
          </li>
          {% endif %}
          {% for i in salons.paginator.page_range %}
          {% if salons.number == i %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}<span
                class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if salons.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ salons.next_page_number }}">Next
              <i class="ti-arrow-right"></i></a>
          </li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="?page={[i}}" tabindex="+1">Next
              <i class="ti-arrow-right"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}