.container {
    background-color: #929292;
    padding: 30px 10px 30px 10px;

}

.footer{
	background-color: #929292;
	/* /padding-bottom: 50px;/ */
}

.footer_ul2_amrc li p{
	color: #282923;
}

.resize{
	font-size: 15px;
}

.foote_bottom_ul_amrc{
	padding-top: 5px;
}

.footer-container-bottom{
	padding-top: 5px;  
}

.footer{
	background-color: #32353A;
}