nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;

}
nav.black {
  background: rgba(0, 0, 0, 0.8);
}
nav .brand{
  margin: 16px 36px;
  position: fixed;
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
nav.black ul{
  background: rgba(0, 0, 0, 0);
}
/* styling unordered list */
nav ul{
  list-style: none;
  float: right;
  color: #fff;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  background: rgba(0, 0, 0, 0);
}
nav ul li{
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

}
.menu-icon {
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  background: #000;
  display: none;

}
nav.black ul li a{
  color: #fff;
}
nav ul li a:focus {
  outline: none;
}
nav ul li a:active {
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}
@media (max-width: 580px) {
  .brand {
  position: fixed;
  top: 0;
  margin-top: 16px;
  }
  nav ul {
    max-height: 0px;
    float:none;
    overflow: auto;
    background: #000;

  }
  .salon-rank {
    margin: 4em auto;
  }
  nav.black ul {
    background: #000;

  }
  .showing {
  max-height: 20em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;

  }
  .menu-icon {
    display: block;
  }

}
/* end of navbar styling  */
/* stars color  */
span.fa.fa-star.checked {
  color: darkred;
}
/* end of stars color  */

.search-input{
	margin: 10px 0px 10px 0px;
	width: 250px;
	color: #fff;
	border: 2px solid #80BDFF;
	color: #000;
	font-weight: bold;
}

.search-input:focus{
	width: 300px;
	transition: 0.25s ease-out;
}

.fakeimage{
	cursor: pointer;
}
