{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load bootstrap4 %} {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %} {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
{{ form.media }} {# Adds date-picker required JS and CSS #}

<div>
    <div class="container">

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong class="text-success"></strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <!-- Image  -->
    <div class="container card" style="background-image: url({% static 'images/salonss.jpg'%}); background-size: cover;  
    background-position: center;  height: 500px; background-repeat: no-repeat;margin-top:10px">

        <div class="row" style="margin-top: 0px;">

            <div class="col-sm-4 card" style="background-color: rgba(125, 173, 173, 0.644);">

                <div class="headshot headshot-3">
                    <h3 class="text-center " style="color:black;margin-bottom:0px;">
                        {{salon.name}} <br><small>
                            <span class="float-rigt"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-rght"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-rght"><i class="text-warning fa fa-star"></i></span>
                            <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                            <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                        </small>
                    </h3>
                    <b>City:
                        {{salon.town}}</b>
                </div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs flex-column" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link text-info" data-toggle="tab" href="#home"><b></b>
                            <small style="color: black;">{{salon.location_description}}</small></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " style="color: black;" data-toggle="tab" href="#menu1"><b></b>
                            <i>{{salon.description}}</i></b></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-info" data-toggle="tab" href="#menu3"><b>Comments and
                                Reviews</b></a>
                    </li>
                </ul>
                <h4 class="" style="color: rgb(2, 6, 29);"> Follow us: <i class="social fa fa-instagram"></i>
                    |
                    <i class="social fa fa-facebook"></i> |
                    <i class="social fa fa-twitter"></i></h4>
            </div>
            <div class="col"></div>
        </div>

    </div>


    <!-- end of Image -->
    <div class="container">

    </div>

    <!-- body  -->
    <div class="container" style="background-image: url({% static 'images/isolated.svg'%});">
        <section>

            <div class="row">
                <div class="card col-sm-12 text-white"
                    style="background-color: rgba(12, 146, 84, 0.438);;font-style:bold">
                    <!-- test  -->
                    <div class="container-fluid card mb-3" style="background-color: rgba(12, 146, 84, 0.212);">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-3 col-sm-3 pt-1">
                                <div class="filters">
                                    <h4>60 <i class="fa fa-envelope-o"></i><span class="d-none d-sm-inline">
                                            Comments</span>
                                    </h4>

                                </div>
                            </div>
                            <div class="col-3 col-sm-2 pt-1">
                                <div class="filters">
                                    <h4>45 <i class="fa fa-eye"></i><span class="d-none d-sm-inline"> Views</span>
                                    </h4>

                                </div>
                            </div>
                            <div class="col-3 col-sm-2 pt-1">
                                <div class="filters">
                                    <h4>{{ salon.total_likes }}<i class="fa fa-thumbs-up"></i><span
                                            class="d-none d-sm-inline">
                                            Bookings</span></h4>
                                    </h4>

                                </div>
                            </div>
                            <div class="col-3 col-sm-2 pt-1">
                                <div class="filters">
                                    <h4> <i class="fa fa-share-alt "></i> <span class="d-none d-sm-inline">Share</span>
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- test  -->
                    <div class="card-body">
                        <h3 class="card-title">Our Services and Products</h3>
                        <div class="card-ody  ">
                            <!--Forform for Services Offered  -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- Trial  -->
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="form-row" style="margin: 0px;">
                                            <div class="form-group col-6 mb-0">
                                                {{ form.services|as_crispy_field }}
                                            </div>

                                            <div class="col-6" style="margin: 0px;">
                                                <ul style="list-style: none;">
                                                    <p>Amount</p>
                                                    {% if services.count != 0 %}
                                                    {% for service in services %}
                                                    <li class="">Ksh. {{ service.cost }}</li>
                                                    {% endfor %}
                                                    {% else %}
                                                </ul>
                                                <!-- spanning across the five columns-->
                                                <tr style="border: none">
                                                    <td colspan="5" class="text-center text-muted">Sorry No Services For
                                                        Now:)
                                                    </td>
                                                </tr>
                                                {% endif%}

                                            </div>
                                            <p>If you wish to buy our products include them below</p>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                {{ form.products|as_crispy_field }}
                                            </div>
                                            <div class="col-6 " style="margin:0px">
                                                <ul style="list-style: none;">
                                                    <p>Amount</p>
                                                    {% if products.count != 0 %}
                                                    {% for prod in products %}
                                                    <li class="">Ksh. {{prod.price }}</li>
                                                    {% endfor %}
                                                    {% else %}
                                                </ul>
                                                <!-- spanning across the five columns-->
                                                <tr style="border: none">
                                                    <td colspan="5" class="text-center text-muted">Sorry No Services For
                                                        Now:)
                                                    </td>
                                                </tr>
                                                {% endif%}

                                            </div>
                                        </div>
                                        <div class="form-group col-md-6 mb-0">
                                            {{ form.appointment_date|as_crispy_field }}
                                        </div>

                                        <button type="submit" class="btn btn-primary">Book Now</button>
                                    </form>
                                    <br>
                                    <!-- End trial  -->

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <!--For products  -->
                <div class="card col-sm-12" style="background-color: rgba(12, 146, 84, 0.438);">
                    <div class="card-body">
                        <h3 class="card-title">Reviews and comments</h3>


                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
                            rel="stylesheet"
                            integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
                            crossorigin="anonymous">

                        <section>
                            <div class="container-fliud">
                                <div class="row ">
                                    <div class="col-md-3 border  text-center">
                                        <div class="card-body">
                                            <h1 class="text-danger">{{average_rating}}</h1>
                                            <div class="sub-row text-warning">
                                                <i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                    class="fa fa-star-half-o"></i>
                                            </div>
                                            <p>{{salon.comments.count}} Ratings</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 border">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>5 Stars</h6>
                                                </div>
                                                <div class="col-md-9 pt-1">
                                                    <div class="progress">
                                                        <div style="width: {{ps5}}%;"
                                                            class="progress-bar text-dark text-bold  bg-success">
                                                            {{stars_5}}</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>4 Stars</h6>
                                                </div>
                                                <div class="col-md-9 pt-1">
                                                    <div class="progress">
                                                        <div style="width: {{ps4}}%;"
                                                            class="progress-bar text-dark text-bold bg-success">
                                                            {{stars_4}}</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>3 Stars</h6>
                                                </div>
                                                <div class="col-md-9 pt-1">
                                                    <div class="progress">
                                                        <div style="width: {{ps3}}%;"
                                                            class="progress-bar text-dark text-bold bg-warning">
                                                            {{stars_3}}</div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>2 Stars</h6>
                                                </div>
                                                <div class="col-md-9 pt-1">
                                                    <div class="progress">
                                                        <div style="width: {{ps2}}%;"
                                                            class="progress-bar text-dark text-bold bg-danger">
                                                            {{stars_2}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>1 Star</h6>
                                                </div>
                                                <div class="col-md-9 pt-1">
                                                    <div class="progress">
                                                        <div class="progress-bar  text-dark text-bold bg-danger"
                                                            style="width: {{ps1}}%;">
                                                            {{stars_1}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 border text-center">
                                        <div class="card-body">
                                            <i class="fa fa-pencil-square fa-3x text-success"></i>
                                            <a href="#comments">
                                                <h4>Write Your Views</h4>
                                            </a>
                                            <small>share your experience/views about this Salon</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <br>
                        <section>
                            <div class="conainer">
                                <!-- Comments Principal -->
                                <div class="comments-container">

                                    <ul id="comments-list" class="comments-list">
                                        {% for review in reviews %}
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img
                                                        src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                                        alt=""></div>
                                                <!-- Comment list -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name b-author">
                                                            {% if review.stars == '3 Stars' %}
                                                            <span class="float-rigt"><i
                                                                    class="text-warning fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warning fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warning fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warnin fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warnin fa fa-star"></i></span>
                                                            {% endif %}
                                                            {% if review.stars == '4 Stars' %}
                                                            <span class="float-rigt"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warnin fa fa-star"></i></span>
                                                            {% endif %}
                                                            {% if review.stars == '2 Stars' %}
                                                            <span class="float-rigt"><i
                                                                    class="text-danger fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-danger fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-succes fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-succes fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warnin fa fa-star"></i></span>
                                                            {% endif %}
                                                            {% if review.stars == '1 Star' %}
                                                            <span class="float-rigt"><i
                                                                    class="text-danger fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-dangr fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-succes fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-succes fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-warnin fa fa-star"></i></span>
                                                            {% endif %}

                                                            {% if review.stars == '5 Stars' %}
                                                            <span class="float-rigt"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            <span class="float-rght"><i
                                                                    class="text-success fa fa-star"></i></span>
                                                            {% endif %}

                                                            <a href="http://creaticode.com/blog"></a>
                                                            ({{ review.author }})</a>

                                                        </h6>

                                                        <i class="fa fa-reply"></i>

                                                    </div>
                                                    <div class="comment-content">
                                                        {{ review.comment }}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Respuestas de los comentarios -->
                                            <ul class="comments-list reply-list">
                                                <li>
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar"><img
                                                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                            alt=""></div>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a
                                                                    href="http://creaticode.com/blog">Lorena Rojero</a>
                                                            </h6>

                                                            <i class="fa fa-reply"></i>
                                                            <i class="fa fa-heart"></i>
                                                        </div>
                                                        <div class="comment-content">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Velit omnis animi et iure
                                                            laudantium vitae, praesentium optio, sapiente distinctio
                                                            illo?
                                                        </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar"><img
                                                            src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg"
                                                            alt=""></div>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name by-author"><a
                                                                    href="http://creaticode.com/blog">Agustin Ortiz</a>
                                                            </h6>
                                                            <span>hace 10 minutos</span>
                                                            <i class="fa fa-reply"></i>
                                                            <i class="fa fa-heart"></i>
                                                        </div>
                                                        <div class="comment-content">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                            Velit omnis animi et iure
                                                            laudantium vitae, praesentium optio, sapiente distinctio
                                                            illo?
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        {% endfor %}
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img
                                                        src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg"
                                                        alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a
                                                                href="http://creaticode.com/blog">Lorena Rojero</a></h6>
                                                        <span>hace 10 minutos</span>
                                                        <i class="fa fa-reply"></i>
                                                        <i class="fa fa-heart"></i>
                                                    </div>
                                                    <div class="comment-content">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit
                                                        omnis animi et iure laudantium
                                                        vitae, praesentium optio, sapiente distinctio illo?
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <!-- comments  -->
                        <section style="margin-top: 24px;">

                            <!-- tryal phase -->
                            <div class="row">
                                {% if reviews %}

                                {% for review in reviews %}
                                <div class="col-6">
                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" width="90"
                                        class="img img-rounded img-fluid" />

                                </div>
                                <div class="col-6">
                                    <p>
                                        <a class="float-left"
                                            href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>({{ review.author }})
                                            </strong></a>

                                        {% if review.stars == '3 Stars' %}
                                        <span class="float-rigt"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warning fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                                        {% endif %}
                                        {% if review.stars == '4 Stars' %}
                                        <span class="float-rigt"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                                        {% endif %}
                                        {% if review.stars == '2 Stars' %}
                                        <span class="float-rigt"><i class="text-danger fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-danger fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-succes fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-succes fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                                        {% endif %}
                                        {% if review.stars == '1 Star' %}
                                        <span class="float-rigt"><i class="text-danger fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-dangr fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-succes fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-succes fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-warnin fa fa-star"></i></span>
                                        {% endif %}

                                        {% if review.stars == '5 Stars' %}
                                        <span class="float-rigt"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        <span class="float-rght"><i class="text-success fa fa-star"></i></span>
                                        {% endif %}


                                    </p>
                                    <div class="clearfix"></div>
                                    <p>{{ review.comment }}</p>

                                    <small>
                                        <p class="text-info ">{{ review.created_date }}</p>
                                    </small>
                                </div>

                                <hr>
                                {% endfor %}
                                {% else %}
                                <p class="text-center text-muted">No Reviews yet!</p>
                                {% endif %}
                            </div>

                            <!-- end of trial phase  -->

                        </section>

                        <div id="comments">
                            <!-- end comments -->
                            <h5>Share your experience/views about this Salon</h5>
                            <form method="POST" class="comment-form">
                                {% csrf_token %}
                                {{ comment_form | crispy }}
                                {% if request.user.is_authenticated %}
                                <button type="submit" class="save btn btn-success">Save</button>
                                {% else %}
                                <p>You must <a href="{% url 'login'%}" style="font-size: 34px;">Login</a> to submit a
                                    review</p>
                                {%endif%}
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
    <!-- end of body  -->
</div>
{% endblock %}