{% load staticfiles %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <title>For the best salons in town</title>
    {% include "shared/header.html" %}
  </head>
  <body>
    <div class="container-fluid">
      <section class="salon-header row">
        <div id="carouselExampleIndicators" class="carousel slide col-sm-7" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'css/images/1.jpg' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 style="color: #11AFF2; font-weight: bold;">Tuskys Salon.</h5>
                <p style="color: #000">For the best and latest cuts</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'css/images/2.jpg' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 style="color: #11AFF2; font-weight: bold;">Tuskys Salon</h5>
                <p style="color: #000;">For the best and latest cuts</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'css/images/3.jpg' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5 style="color: #11AFF2; font-weight: bold;">Tuskys Salon</h5>
                <p style="color: #000;">For the best and latest cuts</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div id="map" class="card col-sm-5";>
          </div>
      </section>
      <section class="salon-details">
        <div class="row">
          <div class="card col-sm-12">
            <div class="card-body" style="color: whitesmoke;">
              <h3 class="card-title">{{ salon.name }}</h3>
              <div class="float-right d-inline">
                <i class="social fa fa-heart" id="like"></i>
                <i class="social fa fa-share share-button" onclick="share_salon_page()" data-href="{{ request.build_absolute_uri }}"></i>
              </div>
              <p class="salon-description">{{ salon.description }}</p>
            </div>
            <div class="row">
              <div class="col-6">
                <i style="color: #00AF87; padding-right: 6px" class="fa fa-map-marker-alt"></i> <b>{{ salon.location }}</b><br>
                <i style="color: #00AF87; padding-right: 4px" class="fa fa-thumbs-up"></i>
                <span class="likes_count">{{ salon.total_likes }} </span>Likes<br>
                <i style="color: #00AF87; padding-right: 12px" <i class="fas fa-level-up-alt"></i>{{ salon.views }} Page visits<br>
              </div>
              <div class="col-6">
                <i style="color: #00AF87; padding-right: 6px" class="fa fa-map-marker-alt"></i> <b>{{ salon.location }}</b><br>
                <i style="color: #00AF87; padding-right: 4px" class="fa fa-thumbs-up"></i>
                <span class="likes_count">{{ salon.total_likes }} </span>Likes<br>
                <i style="color: #00AF87; padding-right: 12px" <i class="fas fa-level-up-alt"></i>{{ salon.views }} Page visits<br>
              </div>
              <div align=right class="social col-11">
                <i class="social fa fa-facebook"></i>
                <i class="social fa fa-youtube"></i>
                <i class="social fa fa-instagram"></i>
                <i class="social fa fa-twitter"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="card col-sm-6">
            <div class="card-body">
              <h3 class="card-title">Our Services</h3>
              <div class="card-text">
                <!--For Services Offered  -->
                <table class="table table-borderless table-sm">
                  <thead style="background-color: #55C9AF; color: #fff; font-weight: bold;">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Service</th>
                      <th scope="col">Cost</th>
                      <th scope="col">Duration</th>
                      <th scope="col">Availabilty</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if services.count != 0 %}
                      {% for each in services %}
                        <tr style="border: none">
                          <td scope="row"><input type="checkbox" id="exampleCheck1"></td>
                          <td>{{ each.serviceName }}</td>
                          <td>{{ each.serviceCost }}</td>
                          <td>{{ each.serviceDuration }}</td>
                          <td>{{ each.availability }}</td>
                        </tr>
                      {% endfor %}
                      {% else %} <!-- spanning across the five columns-->
                      <tr style="border: none">
                        <td colspan="5" class="text-center text-muted">Sorry No Services For Now:)</td>
                      </tr>
                    {% endif%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--For products  -->
          <div class="card col-sm-6">
            <div class="card-body">
              <h3 class="card-title">Our Products</h3>
              <div class="card-text">
                <table class="table table-borderless table-sm">
                  <thead style="background-color: whitesmoke; color: #55C9AF; font-weight: bold;">
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Product</th>
                      <th scope="col">Price</th>
                      <th scope="col">Product Brand</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if products.count != 0 %}
                      {% for each in products %}
                        <tr style="border: none">
                          <td scope="row"><input type="checkbox"></td>
                          <td>{{ each.product_name }}</td>
                          <td>{{ each.price }}</td>
                          <td>{{ each.product_brand }}</td>
                        </tr>
                      {% endfor %}
                    {% else %}
                      <tr>
                        <td colspan="4" class="text-center text-muted">
                        No Products Found! :)</td>
                      </tr>
                    {% endif%}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="margin: 0 auto; font-weight: bold; color: #00D1B0" id="exampleModalLabel">Checkout</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="modalContent">
              <table id="display_checkout" class="table table-hover table-sm">
                <thead class="thead-light">
                  <tr>
                    <th>Service</th>
                    <th>Cost</th>
                  </tr>
                </thead>
              <tbody></tbody>
            </table>
            <div id="total"></div>
            <form method="POST" action="">
              {% csrf_token %}
              {{ clientAppointment }}
              <div class="modal-footer">
                <input type="submit" class="btn btn-secondary" value="Reserve an appointment">
              </div>
            </form>
            <button class="btn btn-primary"><a href="{% url 'clientPayment' %}">Proceed to book an appointment</a></button>
          </div>
        </div>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="card col-sm-12">
          <div class="card-body">
            <h3 class="card-title">Average Rating</h3>
            <p class="card-text text-muted">Star Rating Chart here</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="card col-sm-12">
          <div class="card-body">
            <h3 class="card-title">All Reviews</h3>
            <div class="card-text">
              {% if reviews %}
                <hr>
                {% for review in reviews %}
                  <p> {{ review.comment }}</p>
                  <small> {{ review.author }}</small>
                  <small> {{ review.created_date }}</small>
                  <hr>
                {% endfor %}
              {% else %}
                <p class="text-center text-muted">No Reviews yet!</p>
              {% endif%}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row">
        <div class="card col-sm-12">
          <div class="card-body">
            <h3 class="card-title">Add Your Review Below.</h3>
            <div class="card-text">
            <form method="POST" class="comment-form">
              {% csrf_token %}
              {{ comment_form | crispy }}
              <button type="submit" class="save btn btn-success">Save</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "shared/footer.html" %}
  </div>
  <script>
 $('#like').click(function () {
  $.ajax({
    type: "POST",
    url: "{% url 'preference' %}",
    data: {
      'salon_id': {{ salon.id }},
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: "json",
    success: function (response) {
      if (response.message == "like") {
        $("#like").css('color', '#FF0033');
        $(".likes_count").text(response.likes_count + " ");
      } else {
        $("#like").css('color', '');
        $(".likes_count").text(response.likes_count + " ");
      }
    },
    error: function (rs, err) {}
  });
});
// Handling number of views
$(window).on('load', function () {
  var salonId = {{ salon.id }};
  $.ajax({
    url: '{% url "visits" %}',
    type: 'POST',
    data: { 'salonId': salonId, }
  });
});
//  Share button
async function share_salon_page() {
  const title = document.title;
  const url = $(".share-button").attr("data-href");
  const description = $(".salon-description").text();
  if (navigator.share) {
    try {
      await navigator.share({
        title: title,
        text: description,
        url: url,
      });
      return !0
    } catch (err) {
      console.error('There was an error trying to share this content');
      return !1
    }
  } else if (window.Windows) {
    const DataTransferManager = window.Windows.ApplicationModel.DataTransfer.DataTransferManager;
    const dataTransferManager = DataTransferManager.getForCurrentView();
    dataTransferManager.addEventListener("datarequested", (ev) => {
      const data = ev.request.data;
      data.properties.title = title;
      data.properties.url = url;
      data.setText(description)
    });
    DataTransferManager.showShareUI();
    return !0
  }
};
  </script>

  <!-- Google maps -->
  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -4.060696, lng: 39.662251},
          zoom: 16 
        });
        var marker = new google.maps.Marker({ 
          position: {lat: -4.060696, lng: 39.662251}, 
          map: map 
        }); 

        const salon_name = $(".salon-details").find(".card-title").text();
        const salon_description =  $(".salon-description").text();

        var salon_content = "<div><h5>"+salon_name+"</h5></br><i>"+salon_description+"</i></div>";

        var infowindow = new google.maps.InfoWindow({
          content: salon_content
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&key={{MAPS_API_KEY}}&callback=initMap"
    async defer></script>

  <script src="{% static 'js/moreinfo.js' %}"></script>
</body>
</html>
