certifi==2018.11.29
chardet==3.0.4
colorclass==2.2.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.5
django-crispy-forms==1.7.2
django-filter==2.1.0
djangorestframework==3.9.1
docopt==0.6.2
gunicorn==19.9.0
idna==2.8
oauthlib==3.0.1
packaging==19.0
Pillow==5.4.1
pip-upgrader==1.4.6
psycopg2==2.7.7
psycopg2-binary==2.7.7
PyJWT==1.7.1
pyparsing==2.3.1
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.0.0
terminaltables==3.1.0
urllib3==1.24.1
whitenoise==4.1.2
