body{
	margin: 0;
	padding: 0;
}

html{
	position: relative;
	height: auto;
}

.buttons{
	position: absolute;
	top: 80%;
	left: 35%;
}

.buttons .btn{
	font-weight: bold;
	font-size: 20px;

}

.buttons .btn:hover{
	color: #fff;
	background-color: #11AFF2;
}

.head{
	height: 50px;
	background-color: #11AFF2; 
}

nav{
	float: right;
	margin-top: 25px;
}

ul{
	
	list-style: none;
	margin-right: 10px;
}

ul li{
	float: left;
	margin-right: 10px;
}

ul li a{
	font-weight: bold;
	text-decoration: none;
	color: white;

}ul li a:hover{
	color: #fff;
	text-decoration: none;
}

a{
  position: relative;
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  top: 30px;
  left: 0;
  background-color: #11AFF2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.45s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  z-index: 5;
}

.head ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.salon-rank{
	height: 100%0;
	width: 100%;
}


.filter{
	margin: 15px 0px 0px 60px;
    color: #999A9C;
    font-weight: bold;
}

.filter:hover{
	color: #155DA5;
	cursor: pointer;
}


.search-results{
	position: relative;
	margin: 50px 15px 0px 0px;
	width: 70%;
	float: right;
}

.search-salons{
	float: right;
	margin-right: 20px;
}

.search-results-container{
	position: absolute;
	width: 100%;
	float: left;
	height: 100%;
	right: 0px;
}

.search-results{
	margin-bottom: 30px;
}

.thumb-container{
	background-color: red;
}

span{
	color: gray;
}

.thumb-card{
	float: left;
	width: 300px;
	max-width: 300px;
	max-height: 350px;
	height: 350px;
	border-radius: 10px; 
	margin-right: 10px;
	margin-bottom: 50px;
	background-color: #000;
}

.thumb-unit img:hover {
	opacity: .7;
}


.thumb-unit img{
	width: 300px;
	max-width: 300px;
	height: 350px;
	max-height: 350px;
	border-radius: 10px;
}

.like{
	display: hidden;
}

.notlike{
	display: all;
}

.info{

	position: absolute;
	width: 100%;
	height: 100%;
}

.footer{
	background-color: gray;
	color: #fff;
	
}

.error{
	color: red;
}

.sign-container{
	top: 30%;
	left: 20%;
	position: absolute;
	width: 600px;
	height: 410px;
	border-radius: 8px;
	

	}

.sign-container .sign-in{
	top: 40%;
	left: 33%;
	position: absolute;
	width: 50%;
	height: 410px;
	border-radius: 8px;
	top: 0%;
	left: 0%;
	position: absolute;
	transform: perspective( 600px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: white;
	
}

/*.sign.container:hover .sign-in{
	transform: perspective( 600px ) rotateY( -180deg );
}*/

.sign-container .sign-up{
	top: 40%;
	left: 33%;
	position: absolute;
	width: 700px;
	height: 410px;
	border-radius: 8px;
	top: 0%;
	left: 0%;
	position: absolute;
	transform: perspective( 600px ) rotateY( 180deg );
	backface-visibility: hidden;
	transition: transform .4s linear 0s;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: white;
	
}

.sign-container .sign-in input{
	font-weight: bold;
	margin: 30px 0px 40px 30px;
	position: absolute;
	padding-left: 20px;
	height: 30px;
	width: 50%;
	border: 1.5px solid green;
	border-radius: 15px;
}

.sign-container .sign-up input{
	font-weight: bold;
	position: absolute;
	padding-left: 20px;
	height: 30px;
	width: 230px;
	border: 1.5px solid #0069D9;
	border-radius: 15px;
	color: #000;
	
}

.container-fluid {

	margin: 0px auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
}

.row {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.card{
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 5px;
}

.card-header{
	background-color: #A43EB8;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 5px;
	border-radius: 5px;
}

