{% extends 'base.html' %}
{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">
      <h2>Our Story and What we stand for.</h2>
      <p>Hairways started in August 2018 as an idea by James Kiari and Issa Abdul
        later joined
        by Symons.
        the two hard a dream of bringing Salons and their clients together. Having
        experinced
        long ques and delays both in the Salons and Barber shops this was a great
        idea to solve
        that and save salons from loosing more money whenever clients waited too
        long.It is Also
        very Important to mention that hairways will be handy in salon
        management,getting to
        analyse your figures appropriately will enable you to find best ways to
        improve your business
        all this is in your back office.For instance you'll know which service is
        selling most and
        when they sell.
      </p>
    </div>
  </div>
</div>
<h3 class="text-center">Our Team</h3>
<p class="text-center">We are a dedicated team from Ariyans Techies always
  enjoying to bring ideas into reality
  bellow are the team behind <a href="http://hairwayskenya.com" aria-label="hairways kenya">Hairways Kenya</a>
</p>
{% endblock %}