{% extends 'shared/dashboard-base.html' %}
{% block content %}
{% load bootstrap4 %}
{% load static %}
<br>
<div class="row ml-3 mr-3">
    <div class="col-md-12 col-lg-4">
        <div class="mb-3 card">
            <div class="card-header-tab card-header-tab-animation card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-apartment icon-gradient bg-love-kiss"> </i>
                    Picture
                </div>

            </div>
            <div class="card-body">

                {% if request.user.image %}
                <img src="{{request.user.image.url}}" width="100%" alt="">
                {% else %}
                <img src="{% static 'images/isolated.svg'%}" alt="">
                {% endif %}


                <form method="POST" enctype="multipart/form-data" class="post-form">
                    {% csrf_token %}
                    {% bootstrap_form ppicform %}
                    <div class="button-row d-flex mt-4">
                        <button type="submit" class="save btn btn-success ml-auto text-uppercase">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-8">

        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                    Personal Information

                </div>
            </div>
            <div class="card-body">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="button-row d-flex mt-4">
                        <button type="submit" class="save btn btn-success ml-auto text-uppercase">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-rocket icon-gradient bg-tempting-azure"> </i>
                    Private information
                </div>
                <div class="btn-actions-pane-right">

                </div>
            </div>

        </div>
    </div>

</div>
{% endblock content %}