{% load static %}
<!-- Footer -->
<footer class="page-footer mt-auto py-3 bg-teal text-white">
	<!-- Copyright -->
	<div class="footer-copyright text-center py-3">
		Copyright &copy; Hairways Limited.
		<script>document.write(new Date().getFullYear());</script>, Kisumu.
		Powered By <a href="#" target="_blank">Ariyans Techies.</a>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->

<script src="{% static 'js/jquery.js' %}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{% static 'css/bootstrap/js/bootstrap.js' %}"></script>