<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-teal text-uppercase">
  <a class="navbar-brand" href="{% url 'home' %}">Hairways</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'faqs' %}">Faqs</a>
      </li>
      {% if user.is_authenticated %}
      {% if user.is_client %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'mini_dashboard' %}">{{request.user.username}}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      {% endif %}

      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'login' %}">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>