{% load static %}
<footer class="footer mt-auto py-3 bg-teal text-white">
	<div class="container">
		<div class="footer-copyright text-center py-2">
			&copy; <script>document.write(new Date().getFullYear());</script>, Hairways
			Limited - Kisumu, Ke.
			<span> By <a href="#" target="_blank"
					class="footer-link text-monospace">Ariyans Techies</a></span>
		</div>
	</div>
</footer>
<!-- Footer -->

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>