{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<style>
    .form-text.text-muted{
     visibility: hidden;
     display: none;
    }
    .main {
        height: 100vh;
        background-image: url("{% static 'images/signup.jpg' %}");
        background-position: 50% 50%;
        background-size: cover;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="card mt-4" style="opacity: .8;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="Submit" value="Sign Up"
                        class="btn btn-outline-success btn-rounded w-100 my-3">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}