
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Client Login Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style style="text/style">
    /* Removing asterick from labels */
      .asteriskField {
        display: none;
      }
      /* formatting alert message */
      form .alert ul li {
        list-style: none;
      }
      form .alert ul {
        padding: 0;
        margin: 0;
      }
    </style>

  </head>
  <body>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h1 class="mt-2">Account Creation</h1>
              <hr class="mt-0 mb-4">
              <p class="lead">You can opt to create accountas either a salonist or <br>
              as a normal user</p>
              <p class="lead">Select below the type of account you want to create</p>

              <a href="{% url 'client_signup' %}" class="btn  btn-lg" role="button">I'm a User</a>
              <br>
              <a href="{% url 'owner_signup' %}" class="btn  btn-lg" role="button">I want to list a salon</a>
            <!-- GOOGLE AUTHENTICATION -->
            <br>
          </div>
      </div>
    </div>
  </body>
</html>
