
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For the best Salons in town</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style style="text/style">
    /* Removing asterick from labels */
      .asteriskField {
        display: none;
      }
      /* formatting alert message */
      form .alert ul li {
        list-style: none;
      }
      form .alert ul {
        padding: 0;
        margin: 0;
      }
    </style>

  </head>
  <body>
    <br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h1 class="mt-2">Add services to complete</h1>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width:70%"></div>
              </div>
              <hr class="mt-0 mb-4">
              <form action="" method="post">{% csrf_token %}
                  {{ form.as_p }}
                    <button type="submit" class="btn btn-success" >Book Now!</button>
              </form>
            <!-- GOOGLE AUTHENTICATION -->
            <br>
          </div>
      </div>
    </div>
  </body>
</html>
