{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login to Hairways</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body style="background-color: #666666;">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" method="post" style="padding: 153px 55px 55px 55px;">
          {% csrf_token %}
          <span class="login100-form-title p-b-43">
            Login to Continue
          </span>
          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            {{ form.username|as_crispy_field }}
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            {{ form.password|as_crispy_field }}
            <span class="focus-input100"></span>
          </div>
          <div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Login
            </button>
          </div>
        </form>
        <div class="login100-more" style="background-image: url({% static 'css/images/railway.jpg' %});">
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'css/javascript/jquery.js' %}"></script>
  <script src="{% static 'css/javascript/main.js' %}"></script>
</body>
</html>
