{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>For the best salons in town</title>
  </head>
  <body>

    <section class="salon-header" style="padding: 0px 15px 0px 15px">
      <div class="row">
        <div class="card col-8" style="padding: 0px; margin: 0px">
          <div class="card-body" style="padding: 0px; margin: 0px">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <img class="d-block w-100" src="{% static 'css/images/34.jpg' %}" alt="First slide">
                     <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: #11AFF2; font-weight: bold;">Tuskys Salon</h5>
                        <p style="color: #000">For the best and latest cuts</p>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="{% static 'css/images/cover1.jpg' %}" alt="Second slide">
                     <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: #11AFF2; font-weight: bold;">Tuskys Salon</h5>
                        <p style="color: #000;">For the best and latest cuts</p>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <img class="d-block w-100" src="{% static 'css/images/salon.jpg' %}" alt="Third slide">
                     <div class="carousel-caption d-none d-md-block">
                        <h5 style="color: #11AFF2; font-weight: bold;">Tuskys Salon</h5>
                        <p style="color: #000;">For the best and latest cuts</p>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
            </div>
          </div>
        </div>

        <div class="card col-4" style="padding: 0px; margin: 0px">
          <div class="card-body" style="padding: 0px; margin: 0px">
            This is some text within a card body.
          </div>
        </div>
      </div>
    </section>

    <section class="services-container" style="padding: 0px 15px 0px 15px">
      <div class="row" style=" height: 300px; background-color: whitesmoke;">
      <div class="card col-9" style="margin: 0px; border: none; background-color: transparent">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

      <div class="card col-3" style="margin: 7px 0px 7px 0px">
        <div class="card-body">
          This is some text with.
        </div>
      </div>
    </div>

    </div>

    <div class="services-selected">
      <div class="row">
      <div class="container-fluid col-9" style="margin: 10px 0px 10px 0px">
        jkkjjjjkjjks<br><br><br><br><br><br>
      </div>

      <div class="card col-3" style="margin: 7px 0px 7px 0px; width: 30%; height: auto; float: right;">
        <div class="card-body">
          This is some text with.
        </div>
      </div>
    </div>

    <div class="card" style="margin: 7px 0px 7px 0px">
      <div class="card-body" align=center>
        <button type="button" class="btn btn-success">Lipa na Mpesa</button>
        <button type="button" class="btn btn-primary">Pay after service</button>
      </div>
    </div>


    </div>

    <section class="salon-reviews">
      <div class="card">
        <div class="card-body">
          <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselIndicators" data-slide-to="1"></li>
              <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" align=center>
                <p>cm,./,mcm,.mm</p>
              </div>
              <div class="carousel-item" align=center>
                <p>ryuewioqpwoeiu</p>
              </div>
              <div class="carousel-item" align=center>
                <p>jkdsjdfl;sjfl</p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer></footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
