<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hairways|pricing & subscription</title>
  </head>
  <body>
    <h3>This is our pricing</h3>

    <p>Hairways is here to bridge the gap between Saloon owners and their (prospective)Castomers
        We do this by providing Saloons a platform to be found by their castumers.Castomers can see ranked
        Saloons and comment or write a short review of Saloons they have visited.
        They can also book for Saloon services from their Saloon of choice.</p>
  </body>
</html>
