{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Signup to Hairways</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body style="background-color: #666666;">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form class="login100-form validate-form" method="post" style="padding: 30px 55px 55px 55px;">
          {% csrf_token %}
          <span class="login100-form-title p-b-43">
            Signup to Continue
          </span>
          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="focus-input100"></span>
            {{ form.username|as_crispy_field }}
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="focus-input100"></span>
            {{ form.email|as_crispy_field }}
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="focus-input100"></span>
            {{ form.phone|as_crispy_field }}
          </div>
          <div class="wrap-input100 validate-input" data-validate="Password is required">
            {{ form.password|as_crispy_field }}
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100 validate-input" data-validate="Confirm Password is required">
            {{ form.confirm_Password|as_crispy_field }}
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Sign up
            </button>
          </div>
        </form>
        <div class="login100-more" style="background-image: url({% static 'css/images/bg-01.jpg' %});">
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'css/javascript/jquery.js' %}"></script>
  <script src="{% static 'css/javascript/main.js' %}"></script>
</body>
</html>
