{% extends 'base.html' %}
{% block title %}
Password Change Done
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h1 class="mt-2" style="color: green;">Password Was Changed Successfully!</h1>
      <hr class="mt-0 mb-4">
      <a href="{% url 'home' %}"><button type="button" name="button" class="btn btn-primary">Return to
          homepage</button></a>
    </div>
  </div>
</div>
{% endblock content %}