{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h1 class="mt-2">Reset Your Password</h1>
      <hr class="mt-0 mb-4">
      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Send Confirmation Link</button>
      </form>

    </div>
  </div>
</div>
{% endblock content %}