{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
Set New Password
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <h1 class="mt-2">Set New Password</h1>
    <hr class="mt-0 mb-4">
    {% if validlink %}
    <form method="POST" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-success">Save Password</button>
    </form>
    {% else %}
    <p style="color:red;">Invalid Token!!!</p>
    <a href="{% url 'password_reset' %}">Get a new password reset token.</a>
    {% endif %}

  </div>
</div>
{% endblock content %}