{% extends 'base.html' %}
{% block title %}
Password Reset Done
{% endblock title %}
{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h1 class="mt-2" style="color: green;">Reset Your Password</h1>
      <hr class="mt-0 mb-4">
      <p>We've emailed you instructions for setting your password, if an account exists
        with the email you entered. You should receive them shortly.
        If you don't receive an email, please make sure you've entered
        the address you registered with, and check your spam folder.</p>
    </div>
  </div>
</div>
{% endblock content %}