{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<style>
    .form-text.text-muted {
        visibility: hidden;
        display: none;
    }

    .main {
        height: 100vh;
        background-image: url("{% static 'images/signup.jpg' %}");
        background-position: 50% 50%;
        background-size: cover;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mt-4 w-80">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                        {{ wizard.form.management_form }}
                        {% for form in wizard.form.forms %}
                        {% bootstrap_form form %}
                        {% endfor %}
                        {% else %}
                        {% bootstrap_form wizard.form %}
                        {% endif %}
                        <div class="form-group d-flex justify-content-between">
                            {% if wizard.steps.prev %}
                            <button name="wizard_goto_step" type="submit" class="btn btn-outline-primary"
                                value="{{ wizard.steps.prev }}">Previous Step </button>
                            {% else %}
                            <div></div>
                            {% endif %}
                            <input type="submit" class="btn btn-outline-primary" value="Next Step" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}