/* General Style */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #fff;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 300;
}

.wrapper {
	min-height: 100vh;
	position: relative;
}

.main {
	padding-bottom: 100px;
}

/*==================  Navbar  ==================*/

a {
	color: #050505;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

a:hover, a:focus {
	text-decoration: none;
	color: #027462;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: #000;
	font-weight: 300;
}

.text-primary {
	color: rgb(0, 0, 0) !important;
}

.main-navbar-light {
	background: transparent !important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	top: 10px;
}

@media (max-width: 991.98px) {
	.main-navbar-light {
		background: #027462 !important;
		top: 0;
		position: relative;
	}
}

.main-navbar-light .navbar-nav>.nav-item>.nav-link {
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: rgb(236, 227, 189);
	opacity: 1 !important;
}

.main-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
	color: #ffffff;
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item>.nav-link {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.main-navbar-light .navbar-nav>.nav-item.main-seperator {
	position: relative;
	margin-left: 20px;
	padding-left: 20px;
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item.main-seperator {
		padding-left: 0;
		margin-left: 0;
	}
}

.main-navbar-light .navbar-nav>.nav-item.main-seperator:before {
	position: absolute;
	content: "";
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 2px;
	background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item.main-seperator:before {
		display: none;
	}
}

.main-navbar-light .navbar-nav>.nav-item.cta>a {
	padding-left: 0;
	color: rgb(1, 136, 136);
}

.main-navbar-light .navbar-nav>.nav-item.cta>a span {
	border: 2px solid rgb(1, 136, 136);
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
}

.main-navbar-light .navbar-nav>.nav-item.cta.cta-colored span {
	border-color: #fff;
}

.main-navbar-light .navbar-nav>.nav-item.active>a {
	color: #fff;
	position: relative;
}

.main-navbar-light .navbar-nav>.nav-item.active>a:before {
	content: "";
	height: 2px;
	background: rgb(1, 136, 136);
	left: 20px;
	right: 20px;
	position: absolute;
	bottom: 20px;
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item.active>a:before {
		display: none;
	}
}

.main-navbar-light .navbar-toggler {
	border: none;
	color: rgba(255, 255, 255, 0.5) !important;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: .1em;
}

.main-navbar-light .navbar-toggler .ti-menu {
	font-size: 28px;
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: .1em;
}

.bg-teal {
	background-color: #007765;
}

/*==================  Carousel   ==================*/

.block-31 .owl-nav {
	position: absolute;
	right: 50px;
	bottom: 130px;
}

.block-31 .owl-nav .owl-prev, .block-31 .owl-nav .owl-next {
	color: #fff;
	font-size: 20px;
	opacity: 1;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.block-31 .owl-nav .owl-prev:hover, .block-31 .owl-nav .owl-next:hover {
	opacity: 1;
}

.block-31 .owl-dots {
	position: absolute;
	bottom: 100px;
	right: 50px;
}

.block-31 .owl-dots .owl-dot {
	float: left;
	width: 40px;
	height: 2px;
	background: #fff;
	opacity: .3;
}

.block-31 .owl-dots .owl-dot.active {
	opacity: 1;
	background: #fff;
}

.block-30 {
	background-size: cover;
	background-color: #ccc;
	padding: 0;
	position: relative;
}

.block-30:before {
	background: #000;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	z-index: 0;
}

.block-30.no-overlay:before {
	display: none;
}

.block-30, .block-30 .row {
	min-height: 700px;
	height: 100vh;
}

.block-30 .subheading-sm {
	margin-bottom: 30px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
	position: relative;
	display: inline-block;
	font-weight: 300;
}

.block-30 .subheading-sm:after {
	width: 80px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 120%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	content: "";
}

.block-30 .heading {
	color: #fff;
	font-size: 30px;
	line-height: 1.1;
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	.block-30 .heading {
		font-size: 50px;
	}
}

@media (min-width: 992px) {
	.block-30 .heading {
		font-size: 100px;
	}
}

.block-30 .btn-in-slider {
	background: rgb(246, 246, 244);
	border-radius: 7px;
	font-weight: bold;
	border: 2px solid rgb(1, 136, 136);
	font-size: 14px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: rgb(19, 12, 12);
	-webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
}

.block-30 .btn:hover {
	border-color: rgb(1, 136, 136);
	color: #fff;
	background: transparent;
}

.block-30.block-30-sm, .block-30.block-30-sm .row {
	min-height: 700px;
	height: 70vh;
}

.block-30.block-30-sm .heading {
	font-size: 70px;
	margin-bottom: 20px;
}

.block-30 .lead {
	color: #fff;
}

/*==================  Search Input Field  ==================*/

.search-input {
	border: 1px solid #80BDFF;
}

.search-input:focus {
	transition: 0.25s ease-out;
}

.text-teal {
	color: teal;
}

/*==================  Salons Card Homepage ==================*/

.img-fluid {
	min-height: 200px;
}

.card-min-height {
	min-height: 300px;
}

.salon_card {
	background-image: url('../css/images/cover1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
}

.btn-rounded {
	border-radius: 18px;
}

.salon-description {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
	padding-left: 20px;
	background-color: whitesmoke;
	width: 70%;
	height: 250px;
	float: right;
}

.icons {
	color: rgb(0, 209, 176);
}

.icons>li {
	display: inline-block;
	margin-right: 5px;
	*display: inline;
	/*fix for IE 7 */
	padding-left: 10px;
}

/*==================  Sidebar navbar  ==================*/

/*==================  Text Selctinn  ==================*/

::selection {
	background: teal;
	color: white;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: teal;
	color: white;
	/* Gecko Browsers */
}

/*==================  Paginator  ==================*/

/*==================  Moreinfo/show page  ==================*/

.details_page .carousel-item img {
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: max-content;
}

.services-products-toggler li a {
	color: #6c757d;
	border-bottom: 2px solid white;
}

.services-products-toggler li a:hover {
	color: teal;
	border-bottom: 2px solid teal;
}

.services-products-toggler li a:focus {
	color: teal;
	border-bottom: 2px solid teal;
}

.not-clicked {
	color: teal !important;
	border: 2px solid teal !important;
	box-shadow: none !important;
}

.not-clicked:hover {
	color: white !important;
	background-color: teal;
}

.clicked {
	color: #dc3545 !important;
	background-color: white !important;
	border: 2px solid #dc3545 !important;
	box-shadow: none !important;
}

.clicked:hover {
	color: white !important;
	background-color: #dc3545 !important;
	border: 2px solid #dc3545 !important;
}

/* ================= cart ======================= */

.cart-container {
	height: auto;
}

.cart {
	position: fixed;
	z-index: 1030;
	width: 100%;
	background-color: teal;
	height: 50px;
	bottom: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.cart-buttons-container {
	height: 50px;
}

.cart-cost {
	min-height: 50px;
	height: 100%;
	border-top-right-radius: 20px;
}

.cart-amount {
	height: 50px;
	border-top-left-radius: 20px;
}

.cart-icon-container{
	height: 50px;
}

.icon-container {
	position: relative;
	bottom: 30px;
	height: 50px;
	border-bottom: none;
	padding: 40px !important;
	margin: 0 auto;
	background-color: teal;
	border: 0.5px solid white;
}

.cart-icon {
	font-size: xx-large;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: MoveUpDown 1s linear infinite;
	position: absolute;
}

@keyframes MoveUpDown {
	0%, 100% {
		bottom: 0;
	}
	50% {
		bottom: 20px;
	}
}

.arrow-icon {
	font-size: xx-large;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
}

.cart-items-counter {
	font-size: x-large;
	font-weight: bold;
}

.show-cart-items {
	max-height: 80vh;
	height: auto;
}

.hide-cart-items {
	max-height: 50px;
}

.cart-items-container {
	height: 1900px;
	background: whitesmoke;
}

/*==================  django forms  ==================*/

.asteriskField {
	display: none;
}

/*==================  Social Icons  ==================*/

.social {
	cursor: pointer;
	padding: 5px;
}

.social:hover {
	color: #222;
	transition: 0.3s ease-out;
}

@media (min-width: 320px) and (max-width: 480px) {
	#map {
		height: 200px;
		margin-top: 10px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#map {
		height: 200px;
		margin-top: 10px;
	}
}

h1 {
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1rem;
}

.image-wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.banner-content {
	position: absolute;
	z-index: 99999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: let;
	font-size: 1.5em;
	color: #fff;
	line-height: 1.5;
}

.img-content img {
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #99d19e1c;
	/* opacity: .8; */
	z-index: 999;
	height: 100%;
}

.ban-btn {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}

.btn-red {
	background-color: red;
}

.btn-green {
	background-color: #4CAF50;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
	bottom: -40px;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
	background: #a3a3a3;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.blog .carousel-indicators .active {
	background: #707070;
}

.card-inner {
	margin-left: 4rem;
}

/* coved */

.headshot {
	flex-shrink: 0;
	margin: 5px;
	height: calc(90px + 6vw);
	width: calc(250px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.headshot-3 {
	border-radius: 30% 10%;
}

/* Footer Style */

.footer {
	bottom: 0;
	left: 0;
	right: 0;
}

.footer-link:hover {
	color: rgb(29, 192, 34);
	text-decoration: underline;
	transition: none;
}