*{
	margin: 0px;
	padding: 0px;
}
body {
 font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.navbar-brand {
	font-weight: bold;	
    padding: 0 12px;
}
.navbar-nav .nav-item .nav-link.active {
  color: #2F2F2F;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #2F2F2F;
}
.search-input{
	margin: 10px 0px 10px 0px;
	width: 250px;
	color: #fff;
	border: 2px solid #80BDFF;
	color: #000;
	font-weight: bold;
}

.search-input:focus{
	width: 300px;
	transition: 0.25s ease-out;
}

.each-salon {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	
	opacity: .7;
	border-radius: 50px;
}

.salon-name {
	font-size: 30px;
	font-weight: bold;
}

.salon-location {
	font-size: 20px;
	padding-left: 10px; 
}

.salon-slogan{
	font-size: 15px;
	padding-left: 10px;
}

.icons > li {
	display: inline-block;
	margin-right: 5px; 
	*display:inline; /*fix for IE 7 */
	padding-left: 10px;
}

.read-more {
	padding-left: 10px;
	color: crimson
}

.read-more span {
	padding-right:32px;
}

.icons {
	color: rgb(0, 209, 176);
}

.home {
	width: 100%;
}

.filters {
	line-height: 1.8;
	font-size: 16px;
	cursor: pointer;
}

.col-lg-9 .search-input {
	border: 2px solid #80BDFF; 
	color: #000; 
	font-weight: bold;
}

.custom-select {
	font-weight: bold;
}
/* GENERAL OPIONATED STYLING */
section {
	padding: 10px;
}
/* ==========================Moreinfo=====================================*/

.carousel-item img {
	background-size: cover;
	width: 100%;
	height: 100%;
}

.salon-details {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
	background: transparent;
}


.salon-details .card{
	/*background-image: url(images/cover1.jpg); */
	background: rgba(0,0,0,0.7);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	color: #fff;
	border-radius: 10px; 
	border: none;
}
/* Social Icons */
.social {
	cursor: pointer;
	padding: 5px;
}
.social:hover {
	color: #222;
	transition: 0.3s ease-out;
}
.card-link {
	position:absolute; 
	width:100%; 
	height:100%; 
	top:0; 
	left: 0; 
	z-index: 10;
}

.carousel-caption h5 {
	color: #11AFF2; 
	font-weight: bold;
}

.carousel-caption p {
	color: #000;
}

@media (min-width: 320px) and (max-width: 480px) {
	.home .carousel{
		height: 250px;
	}

	#map {
		height: 200px;
		margin-top: 10px; 
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.home .carousel{
		height: 250px;
	}

	#map {
		height: 200px;
		margin-top: 10px;
	}
}