/* General Style */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: #fff;
	font-size: 16px;
	line-height: 1.8;
	font-weight: 300;
}

/*==================  Navbar  ==================*/

a {
	color: #050505;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

a:hover, a:focus {
	text-decoration: none;
	color: #027462;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	color: #000;
	font-weight: 300;
}

.text-primary {
	color: rgb(0, 0, 0) !important;
}

.main-navbar-light {
	background: transparent !important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	top: 10px;
}

@media (max-width: 991.98px) {
	.main-navbar-light {
		background: #027462 !important;
		top: 0;
		position: relative;
	}
}

.main-navbar-light .navbar-nav>.nav-item>.nav-link {
	font-size: 16px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
	color: rgb(236, 227, 189);
	opacity: 1 !important;
}

.main-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
	color: #ffffff;
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item>.nav-link {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.main-navbar-light .navbar-nav>.nav-item.main-seperator {
	position: relative;
	margin-left: 20px;
	padding-left: 20px;
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item.main-seperator {
		padding-left: 0;
		margin-left: 0;
	}
}

.main-navbar-light .navbar-nav>.nav-item.main-seperator:before {
	position: absolute;
	content: "";
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 2px;
	background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item.main-seperator:before {
		display: none;
	}
}

.main-navbar-light .navbar-nav>.nav-item.cta>a {
	padding-left: 0;
	color: rgb(1, 136, 136);
}

.main-navbar-light .navbar-nav>.nav-item.cta>a span {
	border: 2px solid rgb(1, 136, 136);
	display: inline-block;
	padding: 10px 20px;
	border-radius: 4px;
}

.main-navbar-light .navbar-nav>.nav-item.cta.cta-colored span {
	border-color: #fff;
}

.main-navbar-light .navbar-nav>.nav-item.active>a {
	color: #fff;
	position: relative;
}

.main-navbar-light .navbar-nav>.nav-item.active>a:before {
	content: "";
	height: 2px;
	background: rgb(1, 136, 136);
	left: 20px;
	right: 20px;
	position: absolute;
	bottom: 20px;
}

@media (max-width: 991.98px) {
	.main-navbar-light .navbar-nav>.nav-item.active>a:before {
		display: none;
	}
}

.main-navbar-light .navbar-toggler {
	border: none;
	color: rgba(255, 255, 255, 0.5) !important;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: .1em;
}

.main-navbar-light .navbar-toggler .ti-menu {
	font-size: 28px;
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: .1em;
}

.bg-teal {
	background-color: #007765;
}

/*==================  Carousel   ==================*/

.block-31 .owl-nav {
	position: absolute;
	right: 50px;
	bottom: 130px;
}

.block-31 .owl-nav .owl-prev, .block-31 .owl-nav .owl-next {
	color: #fff;
	font-size: 20px;
	opacity: 1;
	-webkit-transition: .3s all ease;
	-o-transition: .3s all ease;
	transition: .3s all ease;
}

.block-31 .owl-nav .owl-prev:hover, .block-31 .owl-nav .owl-next:hover {
	opacity: 1;
}

.block-31 .owl-dots {
	position: absolute;
	bottom: 100px;
	right: 50px;
}

.block-31 .owl-dots .owl-dot {
	float: left;
	width: 40px;
	height: 2px;
	background: #fff;
	opacity: .3;
}

.block-31 .owl-dots .owl-dot.active {
	opacity: 1;
	background: #fff;
}

.block-30 {
	background-size: cover;
	background-color: #ccc;
	padding: 0;
	position: relative;
}

.block-30:before {
	background: #000;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	z-index: 0;
}

.block-30.no-overlay:before {
	display: none;
}

.block-30, .block-30 .row {
	min-height: 700px;
	height: 100vh;
}

.block-30 .subheading-sm {
	margin-bottom: 30px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
	position: relative;
	display: inline-block;
	font-weight: 300;
}

.block-30 .subheading-sm:after {
	width: 80px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 120%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	content: "";
}

.block-30 .heading {
	color: #fff;
	font-size: 30px;
	line-height: 1.1;
	margin-bottom: 50px;
}

@media (min-width: 768px) {
	.block-30 .heading {
		font-size: 50px;
	}
}

@media (min-width: 992px) {
	.block-30 .heading {
		font-size: 100px;
	}
}

.block-30 .btn-in-slider {
	background: rgb(246, 246, 244);
	border-radius: 7px;
	font-weight: bold;
	border: 2px solid rgb(1, 136, 136);
	font-size: 14px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: rgb(19, 12, 12);
	-webkit-box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.2);
}

.block-30 .btn:hover {
	border-color: rgb(1, 136, 136);
	color: #fff;
	background: transparent;
}

.block-30.block-30-sm, .block-30.block-30-sm .row {
	min-height: 700px;
	height: 70vh;
}

.block-30.block-30-sm .heading {
	font-size: 70px;
	margin-bottom: 20px;
}

.block-30 .lead {
	color: #fff;
}

/*==================  Search Input Field  ==================*/

.search-input {
	border: 1px solid #80BDFF;
}

.search-input:focus {
	transition: 0.25s ease-out;
}

.text-teal {
	color: teal;
}

/*==================  Salons Card Homepage ==================*/

.img-fluid {
	min-height: 200px;
}

.card-min-height {
	min-height: 300px;
}

.salon_card {
	background-image: url('../css/images/cover1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
}

.btn-rounded {
	border-radius: 18px;
}

.salon-description {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 9% 100%);
	padding-left: 20px;
	background-color: whitesmoke;
	width: 70%;
	height: 250px;
	float: right;
}

.icons {
	color: rgb(0, 209, 176);
}

.icons>li {
	display: inline-block;
	margin-right: 5px;
	*display: inline;
	/*fix for IE 7 */
	padding-left: 10px;
}

/*==================  Sidebar navbar  ==================*/

/*==================  Text Selctinn  ==================*/

::selection {
	background: teal;
	color: white;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: teal;
	color: white;
	/* Gecko Browsers */
}

/*==================  Paginator  ==================*/

/*==================  Moreinfo/show page  ==================*/

.details_page .carousel-item img {
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: max-content;
}

/*==================  django forms  ==================*/

.asteriskField {
	display: none;
}

/*==================  Social Icons  ==================*/

.social {
	cursor: pointer;
	padding: 5px;
}

.social:hover {
	color: #222;
	transition: 0.3s ease-out;
}

@media (min-width: 320px) and (max-width: 480px) {
	#map {
		height: 200px;
		margin-top: 10px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	#map {
		height: 200px;
		margin-top: 10px;
	}
}

h1 {
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1rem;
}

.image-wrap {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}

.banner-content {
	position: absolute;
	z-index: 99999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	text-align: let;
	font-size: 1.5em;
	color: #fff;
	line-height: 1.5;
}

.img-content img {
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #99d19e1c;
	/* opacity: .8; */
	z-index: 999;
	height: 100%;
}

.ban-btn {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
}

.btn-red {
	background-color: red;
}

.btn-green {
	background-color: #4CAF50;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
	bottom: -40px;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
	background: #a3a3a3;
	border-radius: 50%;
	width: 8px;
	height: 8px;
}

.blog .carousel-indicators .active {
	background: #707070;
}

.card-inner {
	margin-left: 4rem;
}

/* coved */

.headshot {
	flex-shrink: 0;
	margin: 5px;
	height: calc(90px + 6vw);
	width: calc(250px + 6vw);
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.headshot-3 {
	border-radius: 30% 10%;
}

/* comments */

/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}



/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 0px auto 5px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 22px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 55px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 5px 7px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 5px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 2px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 7px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 290px;
	}

	.comments-list .comment-box {
		width: 220px;
	}

	.reply-list .comment-box {
		width: 150px;
	}
}