



<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title></title>
  </head>
  <body>
    <br><br>
    <div class="container">
    <div class="card">
        <div class="card-header">
            Appointment No:
            <strong>{{appointment.id}}</strong>
            <span class="float-right"> <strong>Status:</strong>
                {% if appointment.is_accepted %}
                <span class="badge badge-warning text-white">In Progress</span> </span>

            {% endif %}
            {% if appointment.is_complete %}
            <span class="badge badge-success text-white">Complete</span> </span>
            {% endif %}

            {% if appointment.is_rejected %}
            <span class="badge badge-danger text-white">Rejected</span> </span>
            {% endif %}

            {% if appointment.is_pending %}
            <span class="badge badge-danger text-white">Pending </span>
            </span>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h5 class="mb-3">Created On: <span class="text-info">{{appointment.created_date}}</span> </h5>
                    <div>
                        <strong>Client: <span class="text-info"> {{appointment.client.username}}</span></strong>
                    </div><br>
                    <div><strong>Total Amount:</strong><span  class="text-info"> Ksh. {{appointment.totalCost }}</span></div>
                    <br>
                    <div> <strong>Client Infomation:<br> <span class="bg-info text-white"> <i>
                                    {{ticket.description}}</i></span></strong>
                    </div>

                    <div>Full Name: Mercy Mwatha</div>
                    <div>Email: info@webz.com.pl</div>
                    <div>Phone: 0792799958</div>
                </div>
                <!-- Appointment date -->
                <div class="col-sm-6">

                    <h5 class="mb-3">Appointment date:<span class="text-info">{{appointment.date_time}}</span> </h5>

                    <!-- Services booked -->

                    <div><strong>Services Booked:</strong>
                      <ol>
                             {% for service in appointment.services.all %}
                             <li>
                                 <div class="text-info"><strong>
                                         <h5>{{ service }}</h5>
                                     </strong></div>
                             </li>
                             {% endfor %}
                         </ol>
                    </div>
<br>
                    <h5 class="mb-3">Branch Booked:<span class="text-info"> Kisumu CBD</span> </h5>
                </div>


            </div>

        </div>
    </div>
    <br>

    <!-- if user is is owner show buttons -->
    {% if request.user.is_owner %}
    {% if appointment.is_pending%}
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'appointment_accept' pk=appointment.pk %}">Accept</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'appointment_reject' pk=appointment.pk %}">Reject</a>

    </div>
    {% endif %}
    {% endif %}

    {% if ticket.is_progress %}
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'ticket_complete' pk=ticket.pk %}">Mark Complete</a>

    </div>
    {% endif %}



    {% if ticket.is_pending %}
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'ticket_complete' pk=ticket.pk %}">Mark Complete</a>

    </div>
    {% endif %}

    {% if ticket.is_complete %}
    <div class="btn-group">
        <a class="btn btn-default" href="{% url 'ticket_reopening' pk=ticket.pk %}">Re-Open</a>

    </div>
    {% endif %}

    <!-- to add team working with person who took job -->
    {% if ticket.is_progress %}

    <div class="btn-group">
        <a class="btn btn-default" href="{% url 't_update' pk=ticket.pk %}">Add team</a>

    </div>

    {% endif %}


</div>

<br>




</div>

  </body>
</html>
