{% extends 'shared/dashboard-base.html' %}
{% load static %}

{% block content %}
<div class="app-main__inner">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <i class="ti-truck icon-gradient bg-mean-fruit">
          </i>
        </div>
        <div>
          Analytics Dashboard
          <div class="page-title-subheading">
            This is an example dashboard created using build-in elements and
            components.
          </div>
        </div>
      </div>
      <div class="page-title-actions">
        <div class="d-inline-block dropdown">
          <button type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"
            class="btn-shadow dropdown-toggle btn btn-info">
            <span class="btn-icon-wrapper pr-2 opacity-7">
              <i class="ti-time fa-w-20"></i>
            </span>
            Buttons
          </button>
          <div tabindex="-1" role="menu" aria-hidden="true"
            class="dropdown-menu dropdown-menu-right">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  <i class="nav-link-icon lnr-inbox"></i>
                  <span>
                    Inbox
                  </span>
                  <div class="ml-auto badge badge-pill badge-secondary">86</div>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  <i class="nav-link-icon lnr-book"></i>
                  <span>
                    Book
                  </span>
                  <div class="ml-auto badge badge-pill badge-danger">5</div>
                </a>
              </li>
              <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link">
                  <i class="nav-link-icon lnr-picture"></i>
                  <span>
                    Picture
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a disabled href="javascript:void(0);" class="nav-link
                  disabled">
                  <i class="nav-link-icon lnr-file-empty"></i>
                  <span>
                    File Disabled
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <h5 class="card-title text-center text-capitalize">{{ salon.name }}
          Products</h5>
        <table class="mb-0 table">
          <thead>
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th>Brand</th>
              <th>Price</th>
              <th>Cost</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.brand }}</td>
              <td>{{ product.price }}</td>
              <td><a href="{% url 'product_edit' id=product.id %}">
                  <i class="ti-pencil"></i></a></td>
              <td><a href="{% url 'product_delete' id=product.id %}"><i
                    class="ti-trash"></i></a></td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
